asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.1
cycler==0.10.0
filelock==3.0.4
glob2==0.5
idna==2.6
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.0
numexpr==2.6.4
numpy==1.14.0
pandas==0.22.0
pkginfo==1.4.2
psutil==5.4.3
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
tables==3.4.2
tornado==4.5.3
urllib3==1.26.5
